name: GraalVM Native Image builds
on: [push, pull_request]
jobs:
  build:
    name: HelloWorld on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-latest, windows-latest, ubuntu-latest]
    steps:
      - uses: actions/checkout@v6

      - uses: graalvm/setup-graalvm@v1
        with:
          java-version: '21'
          distribution: 'graalvm'
          github-token: ${{ secrets.GITHUB_TOKEN }}
          native-image-job-reports: 'true'

      # These are the same steps as shown here : https://www.graalvm.org/latest/docs/getting-started/
      - name: Build and run HelloWorld.java
        run: |
          javac -sourcepath ./src/main/java ./src/main/java/HelloWorld.java -d out
          native-image -cp out HelloWorld
          ./helloworld
      
      - name: Upload binary
        uses: actions/upload-artifact@v6
        with:
          name: helloworld-${{ matrix.os }}
          path: helloworld*
